*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

h1{
	background-color: #081b31;
	font-size: 5rem;
	color: #FFF;
	height: 5rem;
	line-height: 5rem;
}

/* Choices div */
.choices{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin-top: 5rem;
}

.choice{
	height: 164px;
	width: 164px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.choice:hover {
	cursor: pointer;
	background-color: #081b31;
	/* scale: 1.1;
	transition: all 0.25s ease-out; */
}

img{
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 50%;
}

/* Score Board */

.score-board{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin-top: 3rem;
	gap: 5rem;
}

#user-score, #comp-score{
	font-size: 4rem;
}

/* Msg Container */

.msg-container{
	margin-top: 5rem;
}

#msg{
	margin-top: 5rem;
	background-color: #081b31;
	color: #FFF;
	font-size: 2.5rem;
	display: inline;
	padding: 1rem;
	border-radius: 1rem;
}